{% extends "base.html" %}
{% block content %}

<body>


<div class="button-row">
    <a href="/upload">Upload CSV</a>
    <a href="/ticket/new">Create Ticket</a>
</div>



<table class="ticket-table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Created</th>
    </tr>
    </thead>

    <tbody>
    {% for ticket in tickets %}
        <tr onclick="window.location='/ticket/{{ ticket[0] }}'">
            <td>{{ ticket[1] }}</td>
            <td>{{ ticket[3] }}</td>
            <td>{{ ticket[4] }}</td>
            <td>{{ ticket[5] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div style="width: 60%; margin: 8px auto 0 auto; text-align: left;">
    <a href="/download" class="export-link">Export Ticket List</a>
</div>

</body>
</html>

<script>
    document.querySelector(".export-link").addEventListener("click", function() {
    this.textContent = "List exported!";
    setTimeout(() => {
        this.textContent = "Export Ticket List";
    }, 3000);
})
</script>

{% endblock %}